#folders
!inventoryprofilesnext/
inventoryprofilesnext/*
!jei/
jei/*
!defaultoptions/
!incontrol/
!InventoryHUD/
!jade/
!ModernUI/
!paxi/
!pickupnotifier/
!defaultoptions/
!shield_overhaul/
!thirst/

#files
!.gitignore
!amendments*.toml
!inventoryprofilesnext/inventoryprofiles.json
!jei/*.ini
!betterfpsdist.json
!chat_tools.json
!chloride-client.json
!cull-less-leaves.json
!curios*.toml
!embeddium*.*
!emotecraft.json
!fastbench.cfg
!forgematica.json
!immediatelyfast.json
!immersiveui.yaml
!inventoryhud-client.toml
!jecharacters.toml
!jeiintegration-client.toml
!lithium.properties
!minieffects-client.yaml
!nonupdate_reloaded.json
!oculus.properties
!particular-common.toml
!prettyrain.json5
!scholar*.toml
!sodium*.*
!structurify.json
!supplementaries*.toml
!toastcontrol-common.toml
!travelersbackpack*.toml
!treechop*.toml
!tweakerge.json
!xaero*.*