#folders
!inventoryprofilesnext/
inventoryprofilesnext/*
!inventoryprofilesnext/integrationHints/
!jei/
jei/*
!worldedit/
worldedit/*

!ae2/
!defaultoptions/
!fancymenu/
!incontrol/
!InventoryHUD/
!jade/
!obscuria/
!paxi/
!pickupnotifier/
!regions_unexplored/
!sounds/
!thirst/
!xaero/

#files
!.gitignore

!inventoryprofilesnext/inventoryprofiles.json
!jei/*.ini
!worldedit/worldedit.properties

!ambientsounds-client.json
!amendments*.toml
!betterworldloading20.json
!biome_replacer.properties
!chat_tools.json
!chloride-client.json
!cull-less-leaves.json
!curios*.toml
!CustomNpcs.cfg
!do_a_barrel_roll-client.json
!easy*-*.toml
!embeddium*.*
!fastbench.cfg
!forgematica.json
!immersiveui.yaml
!ironfurnaces-client.toml
!inventoryhud-client.toml
!jecharacters.toml
!jeiintegration-client.toml
!lithium.properties
!minieffects-client.yaml
!oculus.properties
!scholar*.toml
!shouldersurfing-client.toml
!smoothscroll.json
!sodium*.*
!supplementaries*.toml
!tectonic.json
!tips.json
!toastcontrol-common.toml
!travelersbackpack*.toml
!treechop*.toml
!tweakerge.json
!xaero*.*